<div>

    <body>
        {{#each beer}}
        <img src="{{image_url}}" alt="random beer image displayed">
        <h1> {{name}}</h1>
        <p>{{tagline}}</p>
        <h5>{{description}}</h5>
        <p>{{food_paring}}</p>
        <p>{{brewers_tips}}</p>
        {{/each}}
    </body>


</div>